{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html> {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="form-box">
            <h2 id="title">Sign Up</h2>
            <form method="post">

                {% csrf_token %}
                <div class="input-group">

                        <div class="input-field" id="namefield">

                            <label for="id_username">Username:</label>
                            <input type="text" name="username" required id="id_username">
                        </div>
                        <div class="input-field" id="namefield">
                            <label for="id_password">Password:</label>
                            <input type="password" name="password" required id="id_password">
                        </div>
                        <div class="btn-field">
                            <button type="submit">Sign Up</button>
                        </div>
            </div>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
    </div>
</body>
</html>

